<div style="text-align: center;">
  <h4 class="word-title" style="font-size: 40px;"><%= word.name %></h4>
  <h5  style="font-size: 30px; color: #D6494B;"> <%= word.pron %> </h5>
  <h5  style="font-size: 40px;"> <%= word.means %> </h5>
  <div class="word">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="inputWord"></label>
        <input type="text"  class="form-control js-means" id="inputWord" autofocus="autofocus" placeholder="Means"  value="<%= word.means %>" autocomplete="off">
      </div>

      <div class="form-group">
        <button type="submit" class="js-next btn btn-primary btn-outline">Submit</button>
      </div>
    </form>
  </div>
  <div style="margin-top: 20px">
    <img class="word-show-photo" src="<%= word.photo_url %>" atl='non-photo'>
  </div>

</div>