<div class="row">
  <div class="quest-panel fadeIn animated">
    <div class="panel-heading">
      <div class='quest-timer js-timer' id="timer"> </div>
      <h4 class="panel-title">
        <%= quest.question %>
        <span class="panel-desc font-bold-black">
          <span class= <%= quest.rule == 2 ? 'hidden' : '' %> >
            <%= quest.pron %>
          </span>

          <span class= <%= quest.rule == 1 ? 'hidden' : '' %> >
            <%= quest.means %>
          </span>
          -
          <%= quest.gender %>
        </span>
      </h4>
    </div>
    <div class="panel-body">
      <ul class="list-group margin-li-group list-group-bordered">
        <% _.each(quest.anwsers, function(anwser, index) { %>
          <li class="list-group-item js-answer btn-outline btn-raised" data-answer= '<%= anwser %>' >
            <%= index + 1%>.
            <span class='font-bold-black'>
              <%= anwser %>
            </span>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>